@if (dynamicForm && this.formStructure() && this.formStructure().length > 0) {
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    @for (control of this.formStructure(); track control.name) {
      <div class="example-container">

        @if (['text', 'number', 'email', 'password'].includes(control.type)) {
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <input matInput
                  placeholder="{{control.label}}"
                  [type]="control.type"
                  [formControlName]="control.name"
                  [required]="isRequired(control)"
                  [mask]="control.mask">
            @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </mat-form-field>
        }

        @if (['textarea'].includes(control.type)) {
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <textarea matInput
                  rows="3"
                  placeholder="{{control.label}}"
                  [type]="control.type"
                  [formControlName]="control.name"
                  [required]="isRequired(control)"></textarea>
            @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </mat-form-field>
        }

        @if (['select'].includes(control.type)) {
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <mat-select [formControlName]="control.name" [required]="isRequired(control)">
              <mat-option value="">Seleccione</mat-option>
              @for (option of control.options; track option.label) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
              }
            </mat-select>
            @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </mat-form-field>
        }

        @if (['radio'].includes(control.type)) {
          <label id="example-radio-group-label">{{control.label}}</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" [formControlName]="control.name">
            @for (option of control.options; track option) {
              <mat-radio-button [value]="option.value">{{option.label}}</mat-radio-button>
            }
          </mat-radio-group>
        }

        @if (['date'].includes(control.type)) {
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="control.name">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </mat-form-field>
        }

        @if (['checkbox'].includes(control.type)) {
          <div class="pnl-checkbox">
            <p><mat-checkbox [formControlName]="control.name">{{control.label}}</mat-checkbox></p>
            @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </div>
        }


        @if (['autocomplete'].includes(control.type)) {
          <mat-form-field class="example-full-width">
            <mat-label>{{control.label}}</mat-label>
            <input type="text"
                    placeholder="Buscar..."
                    aria-label="control.label"
                    matInput
                    [formControlName]="control.name"
                    [matAutocomplete]="auto"
                    onfocus="this.select()">
            <mat-autocomplete autoActiveFirstOption autoSelectActiveOption #auto="matAutocomplete" [displayWith]="displayFn">
              @for (option of control.options; track option.label) {
                <mat-option [value]="option">
                  {{option.label}}
                </mat-option>
              }
            </mat-autocomplete>
            @if (dynamicForm.get(control.name)?.invalid) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </mat-form-field>
        }

        @if (['daterange'].includes(control.type)) {
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="getRange(control.name)" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            @if (getRange(control.name).controls['start'].hasError('matStartDateInvalid')) {
              <mat-error>Fecha inicio inválida</mat-error>
            }
            @if (getRange(control.name).controls['end'].hasError('matEndDateInvalid')) {
              <mat-error>Fecha fin inválida</mat-error>
            }
            @if (dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched) {
              <mat-error>{{getErrorMessage(control)}}</mat-error>
            }
          </mat-form-field>
        }


        @if (['list'].includes(control.type)) {
          @defer() {
              <app-dynamic-list [(items)]="lists[control.name]" [initialData]="getData(control.name)" label="{{control.label}}" [formStructure]="control.form!" />
          }

        }

      </div>
    }
    <div class="button-container">
      <button type="submit" mat-flat-button color="primary">Aceptar</button>
      <button type="button" (click)="cancelar()" mat-flat-button color="primary">Cancelar</button>
    </div>
  </form>
}
