.example-container {
  width: 600px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

.pnl-checkbox mat-error {
  font-size: 12px;
  margin-left: 45px;
  margin-top: -24px;
}

