
<router-outlet /> 

<!--
<section>
    <app-autocomplete
      title="Números"
      (changeValue)="onChange($event)"
      [optionFn]="comunSvc.getOptions"
      [optionTopFn]="comunSvc.getTopOptions" />
</section>


<section>
  <app-autocomplete
    title="Paises"
    (changeValue)="onChange($event)"
    [optionFn]="comunSvc.getCountryOptions" />
</section>
-->
<!--
<section>
  <app-autocomplete
    title="Otro"
    (changeValue)="onChange($event)"
    [optionFn]="getOptions"
    [disabled]="tipoRequerimiento !== ''"
    />
</section>

<app-dynamic-list [(items)]="this.items" [formStructure]="this.formStructure" />

<br />
@if (this.tipoRequerimiento !== '' && this.items.length > 0) {
  <button mat-flat-button (click)="show()">show</button>
}
@if (this.tipoRequerimiento !== '') {
  <button mat-flat-button (click)="reset()">reset</button>
}
-->
<!--
<div class="container">
  <app-dynamic-form 
    [formStructure]="this.formEjemplo1" 
    [initialData]="this.initialData" 
    (submitForm)="process($event)"
    urlApi="http://localhost:5000/Home"
    appearance="outline"
    btnOkText="Agregar" />
</div>
-->
<!--
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-datetimerange [formGroup]="this.form" control="datetime" />
  <button type="submit">Submit</button>
</form>
-->
