<mat-form-field class="example-full-width">
  <mat-label>{{title()}}</mat-label>
  <input type="text"
          placeholder="Buscar..."
          aria-label="title()"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          onfocus="this.select()">
  <mat-autocomplete autoActiveFirstOption autoSelectActiveOption #auto="matAutocomplete" [displayWith]="displayFn">
    @if (myControl.value?.length! == 0 && optionTopFn()) {
      <mat-optgroup label="Más usados"></mat-optgroup>
    }
    @for (option of filteredOptions | async; track option.value) {
      <mat-option [value]="option" (onSelectionChange)="onSelectionChange(option)">
        {{option.viewValue}}
      </mat-option>
    }
  </mat-autocomplete>
  @if (myControl.invalid) {
    <mat-error>{{getErrorMessage()}}</mat-error>
  }
</mat-form-field>
