.container {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
}

.list-container {
  padding-left: 40px;
}

.list-container-readonly {
  padding: 5px 0 5px 5px;
  width: 100%;
  background-color: #eee;
}

table {
  width: 100%;
  background-color: #eee;
}

table td:last-child {
  text-align: right;
}

label {
  font-weight: bold;
  background-color: #ddd;
  width: 100%;
  padding: 5px 0 5px 5px;
  display: inline-block;
}